fitz==0.0.1.dev2
Flask==3.1.1
flask_cors==5.0.1
fuzzywuzzy==0.18.0
keybert==0.9.0
matplotlib==3.10.3
numpy==1.24.3
opencv_python==4.11.0.86
pdf2image==1.17.0
Pillow==11.2.1
protobuf==3.20.3  
pytesseract==0.3.13
Requests==2.32.3
scikit_learn==1.6.1
spacy==3.8.7
tensorflow==2.13.0
gunicorn==21.2.0
mysql-connector-python